<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="p10i-protocol-local"
         value="..\vendor\p10i-profile-carrier\packages" />
    <add key="p14-third-party-local"
         value="..\vendor\p14-profile-carrier\packages" />
  </packageSources>
</configuration>
